# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.7

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements_test.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install tox

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements_test.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            tox

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports

      - deploy:
          name: deploy to pypi if on master branch
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              . venv/bin/activate && \
              pip install twine wheel && \
              python setup.py sdist bdist_wheel && \
              twine upload --skip-existing dist/*
            fi
