version: 2.1

website_docker_defaults: &website_docker_defaults
  docker:
    - image: circleci/node:8.11.3

commands:
  prep_website_env:
    description: "Prepapres environment with cache"
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          name: Restore node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
  save_website_cache:
    description: "Saves environment cache"
    steps:
      - save_cache:
          name: Save node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/


jobs:
  build:
    docker:
      - image: circleci/python:3.6.7

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - tox-dependencies-{{ checksum "requirements_test.txt" }}-{{ checksum "setup.py" }}
          - tox-dependencies-
          - ci-dependencies

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install tox

      - save_cache:
          paths:
            - ./venv
          key: ci-dependencies

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            tox

      - save_cache:
          paths:
          - ./.tox/py27
          - ./.tox/py36
          - ./.tox/py37
          key: tox-dependencies-{{ checksum "requirements_test.txt" }}-{{ checksum "setup.py" }}

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports

      - deploy:
          name: deploy to pypi if on master branch
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              . venv/bin/activate && \
              pip install -r requirements_deploy.txt && \
              python setup.py sdist bdist_wheel && \
              twine upload --skip-existing dist/*
            fi
  website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - run: yarn install
      - save_website_cache
      - run: yarn build
      - persist_to_workspace:
          root: ./
          paths:
            - build/
  deploy_website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - attach_workspace:
          at: ./
      - add_ssh_keys:
          fingerprints:
            - "eb:6f:ae:b3:57:5b:6f:58:09:78:a6:5e:d3:d1:66:e5"
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-codewatch@users.noreply.github.com"
            git config --global user.name "CircleCI Codewatch"
            USE_SSH=true yarn publish-gh-pages

workflows:
  version: 2
  codewatch_and_website:
    jobs:
      - build
      - website
      - deploy_website:
          requires:
            - website
          filters:
            branches:
              only:
                - master

experimental:
  notify:
    branches:
      only:
        - master
